.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  padding: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}

.nav_title {
  display: flex;
}

.nav_menu a {
  color: rgb(0, 0, 0);
  text-decoration: none; 
}

.nav_menu a:hover {
  color: rgb(19, 151, 30);
  text-decoration: underline;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.nav_menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.burger,
.close {
  display: none;
}